{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form action = "{% url 'database_opt' %}" method = "post"> 
    {% csrf_token %}
    <p>Enter Name:</p>
    <p><input type = "text" name = "name" /></p>
    <p>Enter Price:</p>
    <p><input type = "text" name = "price" /></p>
   
    <button  type="submit" name="add" value="add">add</button>
    <button  type="submit" name="remove" value="remove">remove </button>
    <button  type="submit" name="edit" value="edit">edit</button>
    <button  type="submit" name="back" value="back">back</button>
   
   </form>
    
    
</body>
</html>